*{
    margin: 0;
    padding: 0;
}


body{
    scroll-behavior: smooth;
}
/* .brand{
    font-size: 7vh;
    padding-left: 3vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
} */
/* .navbar{
    display: flex;
    height: 15vh;
    background-color: #5577B4;
    box-shadow: 3px 3px 5px black;
    position: fixed;
    width: 100%;
    z-index: 1;
} */
/* .navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li{
    padding-left: 3vw;
    padding-top: 5vh;
} */
/* .navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 4vh;
} */

.hero_image{
    background-image: url('images/hero_1.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

/* 
.brief_intro{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    grid-gap: 1vw;
    margin-left: 5vw;
}


.news_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    width: 85vw;
    margin-left: 6vw;
    margin-top: 5vh ;
    margin-bottom: 5vh;
}
.news-card1{
    width: 27vw;
    padding: 1vh;
}
.news_img{
    width: 27vw;
}
.news_heading{
    font-size: 3vh;
}
.news_writter{
    font-size: 3vh;
    color: #999999;
}
.main_news{
    margin-top: 2vh;
    color: #999999;
    font-size: 3vh;
}

.blog_header{
    position: relative;
    top: 40vh;
    text-align: center;
}
.blogger{
    position: relative;
    top: 40vh;
    text-align: center;
    font-size: 5vh;
} */


.sport_div{
    width: 85vw;
    margin: 0 auto;
}
.sport_importace_h1{
    font-size: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.sport_img{
    width: 85vw;
}
.main_sport_text{
    font-size: 4vh;
}
.sport_sub_headings{
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}










.footer{
    height: 80vh;
    background-color: rgb(216, 213, 213);
    padding-top: 5vh;
}
.footer ul{
    list-style-type: none;
}
.all_list{
    padding-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.reserved_rights{
    text-align: center;
    background-color: white;
    padding: 2vh;
    position: relative;
    top: 15vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
}

