*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
}
.brand{
    font-size: 7vh;
    padding-left: 3vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.navbar{
    display: flex;
    height: 15vh;
    background-color: #5577B4;
    box-shadow: 3px 3px 5px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li{
    padding-left: 3vw;
    padding-top: 5vh;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 4vh;
}

.hero_image{
    background-image: url('skype2.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.brief_intro{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 1vw;
}
.hint_img{
    width: 30vw;
}
.brief_text{
    font-size: 5vh;
    text-align: center;
}




.about_hint{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about_img{
    width: 40vw;
}
.grid_lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40vw;
}
.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10vw;
}





.do_faq{
    font-size: 15vh;
    text-align: center;
}



.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
}
.video{
    position: absolute;
    left: 55vw;
    margin-top: 13vh;
    height: 32vh;
    
}
.wow{
    width: 40vw;
}
.card1{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    padding-left: 5vw;
}







.services{
    background: #F8F9FA;
    padding: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.our_services{
    text-align: center;
    font-size: 7vh;
    padding: 2vh 0;
}
.what_we_do{
    text-align: center;
    font-size: 5vh;
    padding: 2vh 0;
}
.activity_grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5vw;
}
.activity_grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5vw;
}
.activity_card_1{
    width: 25vw;
    height: 40vh;
    text-align: center;
    border-radius: 0.2em;
    box-shadow: 3px 3px 5px black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 2vh;
}
.growth{
    font-size: 4vh;
    color: black;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.activity_card_text{
    color: #999999;
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-size: 4vh;
}
.activity_btn{
    border: 0;
    padding: 2vh;
    color: white;
    border-radius: 0.2em;
    background: #5577B4;
}




.help{
    background-image: url('images/hero_1.jpg');
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5vh 0;
}
.help_text{
    font-size: 8vh;
}
.help_content{
    text-align: center;
    position: relative;
    color: white;
    top: 35vh;
}
.bio{
    display: flex;
}
.testifier{
    height: 5vh;
    width: 4vw;
    border-radius: 50%;
}




.brief_intro{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    grid-gap: 1vw;
    margin-left: 5vw;
}


.news_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    width: 85vw;
    margin-left: 6vw;
    margin-top: 5vh ;
    margin-bottom: 5vh;
}
.news-card1{
    width: 27vw;
    padding: 1vh;
}
.news_img{
    width: 27vw;
}
.news_heading{
    font-size: 3vh;
}
.news_writter{
    font-size: 3vh;
    color: #999999;
}
.main_news{
    margin-top: 2vh;
    color: #999999;
    font-size: 3vh;
}

.blog_header{
    position: relative;
    top: 40vh;
    text-align: center;
}
.blogger{
    position: relative;
    top: 40vh;
    text-align: center;
    font-size: 5vh;
}












.footer{
    height: 80vh;
    background-color: rgb(216, 213, 213);
    padding-top: 5vh;
}
.footer ul{
    list-style-type: none;
}
.all_list{
    padding-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.reserved_rights{
    text-align: center;
    background-color: white;
    padding: 2vh;
    position: relative;
    top: 15vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
}