*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
}
.brand{
    font-size: 7vh;
    padding-left: 3vw;
    padding-top: vh;
    padding-bottom: 2vh;
    z-index: 2;
}
/* .navbar{
    display: flex;
    height: 15vh;
    background-color: #5577B4;
    box-shadow: 3px 3px 5px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li{
    padding-left: 3vw;
    padding-top: 5vh;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 4vh;
} */
.navbar{
    width: 100vw;
    position: relative;
    height: 12vh;
    color: white;
    z-index: 1;
}
.hero_image{
    background-image: url('images/e-learning2.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner{
    width: 20vw;
    position: absolute;
    left: 47vw;
    top: 18vh; 
    border-radius: 0.3em;
}

.brief_intro{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 1vw;
}
.hint_img{
    width: 30vw;
    height: 45vh;
    overflow: hidden;
    transition: 1s;
}
.hint_img1 img:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.hint_img2 img:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.headset{
    width: 10vw;
}
.brief_text{
    font-size: 4vh;
    text-align: center;
}




.about_hint{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin-left: 6vw;
    grid-gap: 3vw;
    height: 80vh;
}
.about_heading{
    font-size: 4vh;
}
.about_video{
    width: 40vw;
    margin-top: 0;
}
.grid_lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40vw;
}
.grid_lists li{
    list-style: none;
}
.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10vw;
} 
.number_count{
    color: #5577B4;
}



.leisure{
    text-align: center;
    font-size: 7vh;
}
.leisure_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95vw;
    margin-left: 2vw;
    grid-gap: 1vw;
}
.flip_edge_1{
    width: 22vw;
    height: 30vh;
}
.wrapper{
    width: 22vw;
    max-width: 100%;
}
.pannel{
    list-style-type: none;
    padding: 0;

}
.pannel li{
    position: relative;
    width: 25%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    float: left;
}
.pannel li div{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 0;
    cursor: pointer;
}


.pannel div.back{
    transform: rotateY(90deg);
}
.pannel div.front{
    position:  absolute;
}

.pannel li:hover div.front{
    animation: flip 0.2s ease-out forwards ;
}
.pannel li:hover div.back{
    animation: flip 0.2s 0.2s ease-out forwards reverse;
}

@keyframes flip {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(90deg);}
}





.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
}
.video{
    position: absolute;
    left: 55vw;
    margin-top: 13vh;
    height: 32vh;
    
}
.wow{
    width: 40vw;
}
.card1{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    padding-left: 5vw;
}







.services{
    background: #F8F9FA;
    padding: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.our_services{
    text-align: center;
    font-size: 7vh;
    padding: 2vh 0;
}
.what_we_do{
    text-align: center;
    font-size: 5vh;
    padding: 2vh 0;
}
.activity_grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5vw;
}
.activity_grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5vw;
}
.activity_card_1{
    width: 25vw;
    height: 40vh;
    text-align: center;
    border-radius: 0.2em;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 2vh;
}
.activity_card_1:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
}
.growth{
    font-size: 4vh;
    color: black;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.activity_card_text{
    color: #999999;
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-size: 3vh;
}
.activity_btn{
    border: 0;
    padding: 2vh;
    color: white;
    border-radius: 0.2em;
    background: #5577B4;
    transition: 2s;
}
.activity_btn:hover{
    padding: 2.5vh;
    background-color: #0353e7;
}


.help{
    background-image: url('images/hero_1.jpg');
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5vh 0;
}
.help_text{
    font-size: 8vh;
}
.help_content{
    text-align: center;
    position: relative;
    color: white;
    top: 35vh;
}
.bio{
    display: flex;
}
.testifier{
    height: 5vh;
    width: 4vw;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 2vw;
}




.brief_intro{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    grid-gap: 1vw;
    margin-left: 5vw;
}


.news_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    width: 85vw;
    margin-left: 6vw;
    margin-top: 5vh ;
    margin-bottom: 5vh;
}
.news-card1{
    width: 27vw;
    padding: 1vh;
}
.news_img{
    width: 27vw;
    transition: 2s;
}
.news-card1 img:hover{
    transform: scale(0.97);
    cursor: pointer;
}

.news_heading{
    padding-top: 2vh;
    font-size: 3vh;
}
.news_writter{
    font-size: 2vh;
    color: #999999;
}
.main_news{
    margin-top: 2vh;
    color: #999999;
    font-size: 2.5vh;
}

.blog_header{
    position: relative;
    top: 40vh;
    text-align: center;
}
.blogger{
    position: relative;
    top: 40vh;
    text-align: center;
    font-size: 5vh;
}


.testimonial{
    background-color: #5577B4;
    padding: 5vh 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.testimonial_heading{
    text-align: center;
}
.happy_students{
    text-align: center;
}
.testimonial_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    width: 80vw;
    margin-left: 10%;
}
.testimony_given{
    color: #FFFFFF80;
    font-size: 3vh;
}

.email_subscription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin-left: 8vw;
}
.email_form{
    position: relative;
    top: 5vh;
    left: 3vw;
}
.email_input{
    width: 30vw;
    height: 6vh;
}
.send{
    width: 5vw;
    padding: 1vh;
    border: 0;
    border-radius: 0.2em;
    background-color: #5577B4;
    color: white;
}




.social_media_connection{
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-gap: 1vw;
    width: 80vw;
    margin-left: 4vw;
}
.social_media_img{
    width: 50vw;
}
.connection_text{
    display: grid;
    grid-template-columns:  1fr;
    justify-content: center;
}




.footer{
    height: 80vh;
    background-color: rgb(216, 213, 213);
    padding-top: 5vh;
}
.footer ul{
    list-style-type: none;
}
.all_list{
    padding-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.reserved_rights{
    text-align: center;
    background-color: white;
    padding: 2vh;
    position: relative;
    top: 3vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
}